.venv/
__pycache__/
*.pyc

.logicals.json
.pvpn_session.json
.pvpn_master.json
.proxy_rotation.json
roam_test.out.txt

configs/*.conf
proxies/*.conf
proxies/ports.json
proxies/PROXY_HTTP_PORTS.txt
proxies/run-all.cmd
proxies/run-selected.cmd

bin/wireproxy.exe
bin/*.tar.gz
